/* осановные утилиты */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
h1,
h2,
h3,
p {
  margin-top: 0;
}
img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  outline: 2px solid tomato;
}

:root {
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --main-text-color: #757575;
  --hero-bcg-color: #2f303a;
  --team-bcg-color: #f5f4fa;
  --footer-bcg: #2f303a;
  --address-mail: rgba(255, 255, 255, 0.6);
}


/*/ здесь прописываем ховеры и фокусы /*/
.link-portfolio:hover {
  color: var(--accent-color);
}

.link-portfolio:focus {
  color: var(--accent-color);
}

section{
  padding-top: 94px;
  padding-bottom: 94px;
}

/* navbar */


.portfolio-contacts {
  padding: 0;
  margin: 0;
}

.contacts {
  padding: 0;
  margin: 0;
}

.webstudio-span {
  color: var(--accent-color);

  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  /* identical to box height */
  letter-spacing: 0.03em;
}

.webstudio-span-studio {
  color: var(--title-text-color);
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  /* identical to box height */
  letter-spacing: 0.03em;
}

.link-portfolio {
  color: var(--title-text-color);
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}



/*/ теперь прописываю стили для телефона и мейла/*/
.link-mail {
  color: var(--accent-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.contacts-phone {
  color: var(--main-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
}

/* just for fun😂😂😂 */
.link-mail:hover {
  color: red;
}

.contacts-phone:hover {
  color: var(--title-text-color);
}
/* закончили с элементами навбара */
/* начинаются  секции */

section:not(:last-child){
  padding-top: 94px;
  padding-bottom: 94px;
}
/* наш герой */
.hero {
  background-color: var(--hero-bcg-color);
  text-align: center;
  
  width: 1600px;
  
  /* padding-bottom: 91px;
  padding-top:91px; */
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.hero-title {
  color: var(--primary-white-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  /* горизонтальная геометрия */
  margin-top: 106px;
  margin-bottom: 30px;
  
  padding-left: 452px;
  padding-right: 452px;
  

  /* отсутпы */
}

.hero-link {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  text-decoration: none;
  border-radius: 4px;
  /* вертикальная геометрия 158пикселя */
  display: inline-block;
  padding: 10px 32px;
  margin-bottom: 106px;
  
  
}

/* features */



.features-title {
  color: var(--title-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  /* вертикальная геометрия */
  margin-top: 0;
  margin-bottom: 10px;

}

.main-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 187% */
  letter-spacing: 0.03em;
  color: #757575;
  /* вертикальная геометрия */
  margin-top: 0;
  margin-bottom: 0;

}

.features p {
  color: var(--main-text-color);

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  /* or 171% */
  letter-spacing: 0.03em;
}
/* чем мы занимаемся */
.secondary-title {
  color: var(--title-text-color);

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;

  
}

.our-team .list{
  display:flex;
}
.our-team img{
  margin-bottom: 50px;
}

.our-team {
  background-color: var(--team-bcg-color);
  
}

.our-team-secondary-title{
  padding-top: 94px;
  margin-bottom: 50px;
  text-align: center;
}
.our-team h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  /* identical to box height */

  letter-spacing: 0.03em;
  margin-bottom: 10px;

}

.our-team p {
  color: #757575;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.2;
  /* identical to box height */

  letter-spacing: 0.03em;
  
}
/* подвал */
.footer {
  background-color: #2f303a;
  width: 1600px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 60px;
  padding-left: 215px;
  padding-bottom: 161px;
}

.webstudio-link {
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 20px;
  
}

.address-span {
  color: var(--primary-white-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  /* or 171% */
  letter-spacing: 0.03em;

  display: inline-block;
  margin-bottom: 9px;
 
}

.address-mail {
  color: var(--address-mail);

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  /* or 171% */
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}


.address-contacts-mail{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  margin-bottom: 9px;
  display: block;
  
  
}
.address-contacts-phone {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;

  display: block;
  
  
}